body {
    background-color: #e8eae3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

table {
    width: 95%;
    margin: auto;
}

th {
    background-color: #fa2742;
    color: #e8eae3;
}

td, th {
    padding: 10px;
    text-align: center;
}

table, td {
    border: 2px solid;
    border-collapse: collapse;
}

img {
    height: 200px;
    width: auto;
}

caption {
    text-align: left;
    text-indent: 10px;
}

.header {
    margin-left: 150px;
    padding-bottom: 30px;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    border: 2px solid;
    top: 10px;
    left: 10px;
    background-color: #e8eae3;
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color: #373833;
    display: block;
    margin: 2px;
}

.sidenav a.active {
    color: #e8eae3;
    background-color: #fa2742;
}

.sidenav a:hover {
    color: #e8eae3;
    background-color: rgba(51, 51, 51, 0.5);
}

.main {
    margin-left: 200px;
    font-size: 20px;
}

button {
    background-color: #e8eae3;
    border: 2px solid #373833;
    color:#373833;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgba(51, 51, 51, 0.5);
    color: #e8eae3;
}

input[type=submit], .submit {
    background-color: #e8eae3;
    border: 2px solid #fa2742;
    color: #fa2742;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=submit]:hover, .submit:hover {
    background-color: #fa274280;
    color: #e8eae3;
}

input[type=reset] {
    background-color: #e8eae3;
    border: 2px solid #373833;
    color: #373833;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #37383380;
    color: #e8eae3;
}

.button-link {
    background-color: #e8eae3;
    border: 2px solid #003756;
    color:#003756;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-link:hover {
    background-color: #00375680;
    color: #e8eae3;
}

input[type=email], input[type=password], input[type=text] {
    width: 80vw;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #37383380;
    /* -webkit-transition: 0.5s; */
    transition: 0.5s;
    outline: none;
}

input[type=email]:focus, input[type=password]:focus, input[type=text]:focus {
    border: 3px solid #fa2742;
}

.dropdown {
    background-color: #e8eae3;
    color: #373833;
    border: 2px solid #373833;
    font-size: 16px;
    text-align: center;
    padding: 8px 16px;
    display: inline-block;
    margin: 5px;
}

.form {
    background-color: bisque;
    padding: 20px;
    border: 3px solid #37383333;
    border-radius: 6px;
    margin: 30px 30px 30px 0;
}

.upcoming-table th, .search-table th {
    background-color: rgba(85, 107, 47, 0.705);
}